# fastapi
fastapi
fastapi-login
uvicorn

# jinja2
jinja2

# form
python-multipart

# mongodb
pymongo

# env
python-dotenv

# pdf
pdfplumber

# jwt
pyjwt

# opencv
opencv-python-headless

# password
passlib[bcrypt]