# fastapi
fastapi==0.103.2
uvicorn==0.23.2

# jinja2
jinja2

# form
python-multipart

# mongodb
pymongo~=4.5

# date
pendulum~=2.1.2

# env
python-dotenv~=1.0.0

# pdf
pdfplumber~=0.10.2


opencv-python-headless==4.8.1.78
