# fastapi
fastapi
fastapi-login
uvicorn
pydantic

# jinja2
jinja2

# form
python-multipart

# mongodb
pymongo

# sqlalchemy
sqlalchemy

# mysql (testing)
# mysqlclient
# mysql-connector-python

# env
python-dotenv

# pdf
pdfplumber

# datetime
pendulum

# jwt
pyjwt

# opencv
opencv-python-headless

# password
passlib[bcrypt]