:root {
    --background_color: #334155;
    --grey_color: #e2e2e2;
    --orange_color: rgb(249, 115, 22);
    --green_color: green;
    --transition_timing: 0.3s
}


body,
html {
    background-color: var(--background_color);
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.95rem;
    color: var(--grey_color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: var(--grey_color);
}

a:link {
    text-decoration: none;
}

hr {
    margin-bottom: 20px;
    width: 100%;
}

header {
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

/* main button style */
.btn {
    cursor: pointer;
    margin: 1rem 0.2rem;
    padding: 0.4rem 1.2rem;
    color: var(--grey_color);
    border: 2px;
    border-style: solid;
    border-color: var(--grey_color);
    border-radius: 9999px;
    background-color: var(--background_color);
    transition: var(--transition_timing);
}

.btn-big {
    width: 100%;
    padding: 0.8rem 1.2rem;
}

.btn:hover {
    border-color: var(--orange_color);
    color: var(--orange_color);
}

.form {
    width: 800px;
    display: grid;
    place-content: center;
    width: 100%;
}

.company {
    width: 100%;
    padding: 2px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.company>span {
    padding: 0.4rem 0.6rem;
    margin: 0 5px;
    color: var(--grey_color);
    background-color: var(--background_color);
    border: 1px;
    border-style: solid;
    border-radius: 20px;

}

.month {
    padding: 20px;
    display: flex;
}

.month>div>a>div {
    margin: 0px 4px;
    padding: 13px 7px 13px 7px;
    width: 20px;
    text-align: center;
    color: var(--grey_color);
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--grey_color);
    transition: var(--transition_timing);
}

.month>div>a>div:hover {
    cursor: pointer;
    border-color: var(--orange_color);
}

table {
    width: 100%;
}

table,
tr,
td {
    border-spacing: 0;
}

thead,
.table_top_bottom {
    background-color: var(--orange_color);
}

thead>tr>th,
.table_top_bottom>td {
    padding: 10px;
}

.table_inside>td {
    padding: 8px;
    text-align: center;
}

.download {
    color: var(--green_color);
}

.un_download {
    color: var(--orange_color);
}

.msg {
    padding: 10px;
    margin: 3px 10px;
    text-align: center;
    background-color: var(--orange_color);
    border: 1px;
    border-style: solid;
    border-radius: 9999px;
    border-color: var(--orange_color);
}

.upload_section {
    padding: 10px;
    display: grid;
    place-content: center;
}

.upload_section>div {
    padding: 3px;
    font-size: 0.85rem;
}

.file::file-selector-button {
    font-weight: bold;
    color: var(--background_color);
    padding: 0.8em;
    border: thin solid var(--grey_color);
    border-radius: 9999px;
    transition: var(--transition_timing);
}

.file::file-selector-button:hover {
    cursor: pointer;
    border-color: var(--orange_color);
    background-color: var(--orange_color);
}


.center {
    display: grid;
    place-content: center;
}

.login {
    width: 100%;
    display: grid;
    place-content: center;
}

.loginInput {
    width: 15rem;
    padding: 10px;
    margin: 3px 0px;
    border: 2px;
    border-color: var(--grey_color);
    border-style: solid;
    border-radius: 0.5rem;
}

.loginInput::placeholder {
    text-align: center;
}

.submitButton {
    width: 100%;
    padding: 10px;
    margin: 3px 0px;
    color: var(--grey_color);
    border: 2px;
    border-color: var(--grey_color);
    border-style: solid;
    border-radius: 0.5rem;
    background-color: var(--background_color);
}

.small-font {
    color: var(--grey_color);
    font-size: small;
}