:root {
    --background_color: #334155;
    --grey_color: #e2e2e2;
    --orange_color: rgb(249, 115, 22);
    --green_color: green;
    --red_color: red;
}


body,
html {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.95rem;
    background-color: var(--background_color);
    color: var(--grey_color);
    display: flex;
    flex-direction: column;
}

a {
    color: var(--orange_color);
}

a:link {
    text-decoration: none;
}

hr {
    margin-bottom: 10px 0;
    width: 100%;
}

header {
    padding: 10px 0 0 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

footer {
    padding: 1rem;
    margin-top: auto;
    text-align: center;
    font-size: 0.7rem;
}

/* small font */
.small_font {
    font-size: 0.8rem;
}

/* DIV center center */
.center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
}

/* button */
.btn {
    cursor: pointer;
    margin: 10px 0;
    padding: 0.5rem 1rem;
    color: var(--grey_color);
    border: 1px solid var(--grey_color);
    border-radius: 5px;
}

.btn:hover {
    border-color: var(--grey_color);
    color: var(--orange_color);
}

.btn_date {
    padding: 5px 0 20px 0;
    display: flex;
}

.btn_date_inside {
    margin: 0 4px 0 0;
}

/* input */
input[type="submit"] {
    width: 100%;
    background: none;
    text-align: center;
}


input[type="text"],
input[type="password"] {
    width: 12rem;
    padding: 8px;
    margin: 3px 0px;
    border: 2px;
    border-color: var(--grey_color);
    border-style: solid;
    border-radius: 0.5rem;
    text-align: center;
}

input[type="checkbox"] {
    width: 1.1rem;
    height: 1.1rem;
}

input[type="submit"],
input[type="text"],
input[type="password"] {
    text-align: center;
    font-size: 0.8rem;
}

/* form */
.form {
    display: grid;
    place-content: center;
    width: 100%;
}

/* table */
table {
    padding: 10px 0px;
    width: 100%;
    background: none;
}

thead,
.sum_box {
    background-color: var(--orange_color);
}

.sum_box {
    padding: 10px;
    text-align: end;
}

.download {
    color: var(--green_color);
}

.un_download {
    color: var(--orange_color);
}

.msg {
    padding: 10px;
    margin: 3px 10px;
    text-align: center;
    background-color: var(--orange_color);
    border: 1px;
    border-style: solid;
    border-radius: 9999px;
    border-color: var(--orange_color);
}

.upload_section {
    padding: 10px;
    display: grid;
    place-content: center;
}

.upload_section>div {
    padding: 3px;
    font-size: 0.85rem;
}

.file::file-selector-button {
    font-weight: bold;
    padding: 0.8em;
    border: thin solid var(--grey_color);
    border-radius: 9999px;
}

.file::file-selector-button:hover {
    cursor: pointer;
    border-color: var(--orange_color);
    background-color: var(--orange_color);
}



/* turn page btn */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: var(--orange_color);
    pointer-events: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none;
    color: var(--orange_color) !important;
    border-radius: 4px;
    border: 1px solid var(--grey_color);
}

.dataTables_info,
.dataTables_length,
.dataTables_filter,
.paginate_button {
    font-size: 0.8rem;
    text-align: justify;
}