<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>Bill Calculate</title>
</head>

<body>
    <div class="w-full px-1 pb-12 grid place-content-center">
        <!-- header -->
        <div class="w-full my-4 grid place-content-center">
            <span class="text-4xl font-bold">Invoice Calculate</span>
        </div>

        <div class="flex my-4">
            {% for i in list_col%}
            <div class="px-1">
                <a href="{{ i }}">
                    <div id="/{{ i }}" class="w-[2rem] p-2 grid place-content-center border border-1 border-slate-800 rounded hover:bg-slate-300 ease-in">
                        {{ i }}
                    </div>
                </a>
            </div>
            {% endfor%}
        </div>

        <!-- body -->
        <div class="border-2 border-orange-500 rounded-lg">
            <table class="table-fixed">
                <!-- thead -->
                <thead>
                    <tr class="bg-orange-500 text-slate-50">
                        <th class="px-2 bg-orange-500">
                            <input type="checkbox" name="" id="main_checkbox" onclick="toggle(this)" />
                        </th>
                        <th>号</th>
                        <th>文件</th>
                        <th>日期</th>
                        <th>发票号码</th>
                        <th>发票代码</th>
                        <th class="p-4">总数</th>
                    </tr>
                </thead>
                <!-- tbody -->
                <tbody>
                    {% for i in data %}
                    <tr class="border-b-[1px] border-dotted border-orange-500 text-sm">
                        <td class="p-2 text-center">
                            <input type="checkbox" name="ids" id="{{ i._id }}">
                        </td>
                        <td class="p-2 text-center">{{ loop.index }}</td>
                        <td class="p-2 text-center">
                            {% if i.pdf %}
                            <img src="{{ url_for('static', path='image/pdf.png') }}" alt="PDF image" width="20px">
                            {% endif %}
                        </td>
                        <td class="p-2 text-center">{{ i.date }}</td>
                        <td class="p-2 text-center">{{ i._id }}</td>
                        <td class="p-2 text-center">{{ i.code }}</td>
                        <td class="p-2 text-center">{{ i.amount }}</td>
                    </tr>
                    {% endfor%}

                    <tr class="bg-orange-500 text-slate-50 font-bold">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="p-4 text-center">
                            ¥ {{ total }}
                        </td>
                    </tr>
                </tbody>
                <!-- tbottom -->
            </table>
        </div>

        {% for err in msg%}
        <div class="p-2 px-2 mt-4 text-slate-50 font-bold bg-red-400 rounded-full grid place-content-center error">{{ err }}</div>
        {% endfor %}

        <!-- form -->
        <div class="w-full mt-8 grid place-content-center">
            <form action="{{ send_file }}" method="POST" enctype="multipart/form-data">
                <!-- File -->
                <div class="pl-1 text-xs text-slate-500">INVOICE FILE (PDF)</div>
                <div class="flex">
                    <div>
                        <input type="file" name="files" class="b-2 block w-full text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-violet-50 file:text-violet-700 hover:file:bg-violet-100" multiple required>
                    </div>
                    <!-- Submit -->
                    <div>
                        <input type="submit" class="w-full p-1 px-6 rounded-lg border border-2 border-slate-400 hover:bg-orange-500 hover:text-slate-50 hover:border-orange-500 ease-in-out">
                    </div>
                </div>
            </form>
        </div>

        <div>{{ output }}</div>
        <!-- footer -->
    </div>
    <script language="JavaScript">
        // checkbox function
        function toggle(source) {
            checkboxes = document.getElementsByName('ids');
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }

        // button color
        var pathname = location.pathname;
        document.getElementById(pathname).style.backgroundColor = '#f97316';
        document.getElementById(pathname).style.borderColor = '#f97316';

        // fadeout (jquery)
        const errordiv = $('.error');
        if (errordiv) {
            setTimeout(function () {
                $('.error').fadeOut('fast');
            }, 5000);
        }
    </script>
</body>

</html>