{% extends 'base.html' %}

{% block title %}
Invoice System - Login
{% endblock %}

{% block section %}
<form action="{{ login_data }}" method="POST">
    <div class="center">
        <span>登入</span><br />
        <input type="text" name="username" placeholder="用户名" required oninvalid="this.setCustomValidity('请输入用户名')"><br />
        <input type="password" name="password" placeholder="密码" required oninvalid="this.setCustomValidity('请输入密码')"><br />
        <span class="small_font">如果还没注册，请转至"<a href="/register">注册</a>"</span><br />
        <button type="submit">确认</button>
    </div>
    {% if error_msg %}
    <script>
        alert("{{ error_msg }}")
    </script>
    {% endif %}
</form>
{% endblock %}