{% extends 'base.html' %}

{% block title %}
Invoice System - Login
{% endblock %}

{% block section %}
<form action="{{ login_data }}" method="POST">
    <div class="center">
        <span>登入</span><br />
        <input type="text" name="username" placeholder="用户名" required><br />
        <input type="password" name="password" placeholder="密码" required><br />
        <span class="small_font">如果还没注册，请转至"<a href="/register">注册</a>"</span><br />
        <input type="submit" class="btn" value="确认">
    </div>
    {% if msg != [] %}
    {% for err in msg %}
    <script>
        alert("{{ err }}")
    </script>
    {% set _ = msg.remove(err) %}
    {% endfor %}
    {% endif %}
</form>
{% endblock %}