{% extends 'base.html' %}

{% block title %}
Invoice System - Login
{% endblock %}

{% block header %}
注册
{% endblock %}

{% block section %}
<form action="{{ register_data }}" method="POST" enctype="multipart/form-data">
    <div class="login">
        <input type="text" class="loginInput" name="username" placeholder="用户名" required>
        <input type="password" class="loginInput" name="password" placeholder="密码" required>
        <span class="small-font">已注册，请转至"<a href="/login">登入</a>"</span><br />
        <input type="submit" class="submitButton" value="确认">
    </div>
    {% if msg != [] %}
    {% for err in msg %}
    <script>
        alert("{{ err }}")
    </script>
    {% endfor %}
    {% endif %}
</form>
{% endblock %}

{% block footer %}
发票系统
{% endblock %}