{% extends 'base.html' %}

{% block title %}
Invoice System - Register
{% endblock %}

{% block header %}
注册
{% endblock %}

{% block section %}
<form action="{{ register_data }}" method="POST" enctype="multipart/form-data">
    <div class="login">
        <input type="text" class="login_input" name="username" placeholder="用户名" required>
        <input type="password" class="login_input" name="password" placeholder="密码" required>
        <input type="text" class="login_input" name="code" placeholder="确认码" required>
        <div class="center">
            <span class="small_font">已注册，请转至"<a href="/login">登入</a>"</span><br />
        </div>
        <input type="submit" class="btn btn_submit" value="确认">
    </div>
    {% if msg != [] %}
    {% for err in msg %}
    <script>
        alert("{{ err }}")
    </script>
    {% set _ = msg.remove(err) %}
    {% endfor %}
    {% endif %}
</form>
{% endblock %}

{% block footer %}
发票系统
{% endblock %}