{% extends 'base.html' %}

{% block title %}
Invoice System
{% endblock %}

{% block header %}
发票整理系统
{% endblock %}

{% block section %}
<form action="{{ send_file }}" id="send_file" method="POST" enctype="multipart/form-data" onsubmit="setTimeout(function(){window.location.reload();}, 2000);">
    <div class="form">

        <!-- year list -->
        <div class="btn_date">
            {% for i in year%}
            <a href="{{ i }}" class="btn_year" id="{{ i }}">{{ i }}</a>
            {% endfor%}
        </div>
        <!-- end year list -->

        <!-- body -->
        <div>
            <table id="example" class="display" style="width: 100%">
                <!-- thead -->
                <thead id="title_box">
                    <tr>
                        <th>
                            <input type="checkbox" id="main_checkbox" onclick="toggle()" />
                        </th>
                        <th>号</th>
                        <th>日期</th>
                        <th>公司</th>
                        <th>发票号码</th>
                        <th>价格</th>
                        <th>原由</th>
                        <th>备注</th>
                        <th>下载</th>
                    </tr>
                </thead>
                <!-- end thead -->

                <!-- tbody -->
                <tbody>
                    <!-- INVOICE -->
                    {% for i in data %}
                    <tr onclick="single()">
                        <td>
                            <input type="checkbox" name="ids" class="single_checkbox" value="{{ i.id }}">
                        </td>
                        <td class="font_vs">{{ loop.index }}</td>
                        <td>{{ i.date.strftime("%Y-%m-%d") }}</td>
                        <td>{{ i.company }}</td>
                        <td>
                            <a href="/{{ username }}/modify/{{ i.id }}">
                                {{ i.id }}
                            </a>
                        </td>
                        <td>{{ "%.2f"|format(i.amount) }}</td>
                        <td class="font_vs font_shadow" style="text-align: center;">{{ i.reason }}</td>
                        <td class="font_vs font_shadow" style="text-align: center;">{{ i.note }}</td>
                        <td>
                            <div class="download">
                                {% if i.download == True %}
                                <img src="/static/images/download.svg" width="20px" height="20px" alt="">
                                {% else %}
                                <img src="/static/images/un_download.svg" width="20px" height="20px" alt="">
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor%}
                    <!-- END INVOICE -->

                </tbody>
                <!-- end tbody -->

            </table>
        </div>
        <!-- end body -->

        <hr>
        <!-- TOTAL -->
        <div class="sum_box">
            总数: ¥ {{ total }}
        </div>
        <!-- END TOTAL -->

        <!-- error message -->
        {% for err in msg%}
        <div class="msg error">{{ err }}</div>
        {% endfor %}
        <!-- end error message -->

        <div class="upload_section">
            <!-- File -->
            <div>选择上传发票(PDF)</div>
            <div>
                <input type="file" name="files" class="file" multiple>
            </div>
            <!-- Submit -->
            <div>
                <button type="submit">上传与下载</button>
            </div>
        </div>
        <!-- End Form -->
    </div>
</form>
{% endblock %}