{% extends 'base.html' %}

{% block title %}
Invoice System
{% endblock %}

{% block header %}
发票整理系统
{% endblock %}

{% block section %}
<form action="{{ send_file }}" method="POST" enctype="multipart/form-data">
    <div class="form">

        <!-- company -->
        <div class="company">
            <span class="btn" onclick="all_invoice()">全显</span>
            {% for i in company %}
            <span class="btn" onclick="invoice(this)">{{ i }}</span>
            {% endfor %}
        </div>
        <!-- end company -->

        <!-- year list -->
        <div class="date">
            {% for i in year%}
            <div>
                <a href="{{ i }}">
                    <div class="year" id="/{{ username }}/{{ i }}">
                        {{ i }}
                    </div>
                </a>
            </div>
            {% endfor%}
        </div>
        <!-- end year list -->

        <!-- body -->
        <div>
            <table>
                <!-- thead -->
                <thead id="title_box">
                    <tr class="table_top_bottom">
                        <th>
                            <input type="checkbox" id="main_checkbox" onclick="toggle()" />
                        </th>
                        <th>号</th>
                        <th>日期</th>
                        <th>公司</th>
                        <th>发票号码</th>
                        <th>价格</th>
                        <th>下载</th>
                    </tr>
                </thead>
                <!-- end thead -->

                <!-- tbody -->
                <tbody>
                    <!-- INVOICE -->
                    {% for i in data %}
                    <tr class="table_inside company_list {{ i.company }}" onclick="single()" />
                    <td class="thisBtn">
                        <input type="checkbox" name="ids" class="single_checkbox" value="{{ i._id }}">
                    </td>
                    <td>{{ loop.index }}</td>
                    <td>{{ i.date.strftime("%Y-%m-%d") }}</td>
                    <td>{{ i.company }}</td>
                    <td>{{ i._id }}</td>
                    <td>{{ "%.2f"|format(i.amount) }}</td>
                    <td>
                        {% if i.download == True %}
                        <span class="download">已下载</span>
                        {% else %}
                        <span class="un_download">未下载</span>
                        {% endif %}
                    </td>
                    </tr>
                    {% endfor%}
                    <!-- END INVOICE -->

                    <!-- TOTAL -->
                    <tr class="table_top_bottom">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>总数: </td>
                        <td>¥ {{ total }}</td>
                    </tr>
                    <!-- END TOTAL -->
                </tbody>
                <!-- end tbody -->
            </table>
        </div>
        <!-- end body -->

        <hr>

        <!-- error message -->
        {% for err in msg%}
        <div class="msg error">{{ err }}</div>
        {% endfor %}
        <!-- end error message -->

        <div class="upload_section">
            <!-- File -->
            <div>选择上传发票(PDF)</div>
            <div>
                <input type="file" name="files" class="file" multiple>
            </div>
            <!-- Submit -->
            <div>
                <input type="submit" value="上传与下载" class="btn btn_big">
            </div>
        </div>
        <!-- end form -->
    </div>
</form>
{% endblock %}

{% block footer %}
发票系统
{% endblock %}