{% extends 'base.html' %}
{% block title %}Login Page{% endblock %}

{% block header %}
<div class="p-4 text-center border-b-2 border-slate-400">
    <div class="p-4">
        <span class="text-4xl">发票整理系统</span>
    </div>
    <div>
        <a href="/register" class="hover:text-orange-400 hover:underline">注册</a>
    </div>
</div>
{% endblock %}

{% block content %}
<form action="/" method="post" enctype="multipart/form-data">
    <div class="w-full grid place-content-center">
        <div class="mt-12">
            <div class="pb-2">
                <input type="email" name="email" class="w-80 p-2 px-2 rounded-lg text-center bg-slate-700 border-2 focus:outline-red-400" placeholder="邮箱"><br>
            </div>

            <div>
                <input type="password" name="password" class="w-full p-2 px-2 rounded-lg text-center bg-slate-700 border-2 focus:outline-red-400" placeholder="密码">
            </div>
            <div>
                <input type="submit" value="确认" class="w-80 p-2 px-2 mt-6 text-slate-900 rounded-full bg-blue-300 hover:bg-blue-500">
            </div>
        </div>
    </div>
</form>
{% endblock %}